.mat-card {
  background: #fff !important;
  color: #fff;
  padding: 28px;

  .digit-group {
    input {
      width: 30px;
      height: 36px;
      border: 0.2px solid #e8e5e5;
      line-height: 51px;
      text-align: center;
      font-size: 24px;
      font-family: "Raleway", sans-serif;
      font-weight: 200;
      color: #0c0b0b;
    }

    input:nth-child(4n + 1) {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    input:nth-child(4n + 3) {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    //  to disable number wheel
    /* Firefox */
    input[type="number"] {
      -moz-appearance: textfield;
    }

    .splitter {
      padding: 0 5px;
      color: #e8e5e5;
      font-size: 24px;
    }
  }
}

.prompt {
  margin-bottom: 20px;
  font-size: 16px;
  margin-top: 16px;
  color: #000;

  strong {
    color: #2b2a2a;
    font-family: inherit;
    font-weight: 500;
  }

  p:nth-child(2) {
    margin-top: 12px;
  }

  p {
    color: gray !important;
    margin-bottom: 0px;
    font-size: 10px;
    line-height: initial;
  }

  span {
    color: gray !important;
    margin-top: 12px;
    font-size: 10px;
    display: block;

    a {
      color: green;
      cursor: pointer;
    }
  }

  span:last-child {
    color: green;
  }
}

.button-row {
  button {
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 50px;
    background-color: #18e289;
    width: 180px;
  }

  p {
    font-size: 10px;
    color: #adabab;
  }
}
