<!-- Toolbar -->
<div fxLayout="column" class="container">
  <div class="toolbar" fxLayoutAlign.xs="center center" role="banner">
    <app-tool-bar></app-tool-bar>
  </div>
  <!-- Otp Content -->
  <div
    class="content"
    fxLayoutAlign="center stretch"
    fxFlexAlign="center"
    *ngIf="!sharedService?.hideLanding"
  >
    <app-validate-otp></app-validate-otp>
  </div>
  <div
    fxLayoutAlign="center stretch"
    fxFlexAlign="center"
    *ngIf="sharedService?.hideLanding"
  >
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->
  <div *ngIf="!sharedService?.hideLanding" fxLayout.xs="row">
    <app-footer-section></app-footer-section>
  </div>
</div>
