<!-- Toolbar -->
<div fxLayout="column" class="container">
  <div class="toolbar" fxLayoutAlign.xs="center center" role="banner">
    <app-tool-bar></app-tool-bar>
  </div>

  <!-- Otp Content -->
  <div class="content" fxLayoutAlign="center stretch" fxFlexAlign="center" *ngIf="!sharedService?.validateRoute">
    <app-validate-otp></app-validate-otp>
  </div>
  <!-- Routing -->
  <div fxLayoutAlign="center stretch" fxFlexAlign="center" *ngIf="sharedService?.validateRoute">
    <router-outlet></router-outlet>
  </div>

  <!-- Footer -->
  <div *ngIf="!sharedService?.validateRoute" fxLayout.xs="row">
    <app-footer-section></app-footer-section>
  </div>
</div>