.example-card {
  max-width: 328px;
  margin-top: 12px;

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
}
